    
/* Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, samp, strong, b, u, i, center,
dl, dt, dd, ol, ul, li, table, caption, tbody,
figure, figcaption, footer, header, 
menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: "Libre Baskerville", Georgia, Times, "Times New Roman", serif;
}

@font-face {
 font-family: "Libre Baskerville";
 src: url("librebaskerville-regular.eot");
 src: url("librebaskerville-regular.eot?#iefix") format("embedded-opentype"),
      url("librebaskerville-regular.woff") format("woff"),
      url("librebaskerville-regular.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
}

hr {
 height: 12px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(255, 153, 0, 0.5);
}

body {
    padding: 0px 0px 20px 0px;
}

ul.confidence {
    list-style-type: circle;
}

.responseButton {
	display: block;
    font-size: 1.0em;
    min-width: 230px;
    height: 40px;    
	margin: .75em;
    padding: .25em; 
	background-color: #cccccc; 
    cursor:pointer;
    vertical-align: middle;
}

.responseButton:hover,
.responseButton:active,
.responseButton:focus {
    color: white;
	background-color: #5d5d5d;
}

.stronglyAgree {
	background-color: rgba(80, 227, 194, 0.75);
}

.agree {
	background-color: rgba(80, 227, 194, 0.5);
}

.uncertain {
	background-color: rgba(245, 166, 35, 0.5);
}

.disagree {
	background-color: rgba(218, 53, 42, 0.5);
}

.stronglyDisagree {
	background-color: rgba(218, 53, 42, 0.75);
}

.noOpinion {
	background-color: rgba(74, 144, 226, 0.25);
}

.buttonItems {
    vertical-align: middle;
    padding-top: 8px; 
}

.icon {
    display: inline;     
    float: left;
    width: auto;
    height:40px;
    margin-right: 10px;
}

.heading {
    display: inline;    
    font-size: 1em;
    font-weight: 400;
    padding-top: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
}

.response {
    position: absolute;
    font-size: 1em;
    font-weight: 200;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    left: 250px;
}

.confidence {
    color: #727272;
    margin-left: 30px;
    margin-bottom: 20px;
}
.expandButton {
    float: right;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.expandSymbol {
    display: inline;    
    float: right;
    font-weight: 600;
    font-size: 1em;
   
}

.expandText {
    display: inline;
    font-style: italic;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
}

.responseText {
    display: none;   
}

.responseText.show {
    display: block;
    margin-left: 10px;
}

.label {
    font-weight: 400;
    color: #727272;    
}

.value {
    font-weight: 200;
    color: #a6a6a6;
    margin-left: 10px;
}

p {
    font-size: 1em;
    line-height: 1.25em;
    font-weight: 300;    
    margin: 0px 10px 15px 10px;
    line-height: 1.8;    
}

.bottomCloseBtn {
    display: block;
    width: 80px;
    text-align: center;
    /* margin: 10px 20px 0px 10px; */
    margin-left: 20px;
    margin-bottom: 20px;
    background: #CCC;
    opacity: 0.75;
    color: #000000;
    padding: 5px;
    font-size: 0.75em;
    cursor: pointer;
}

.author {
    font-size: 1em;
    font-weight: 100;
    font-style: italic;
    margin-left: 10px;
    margin-bottom: 10px;
    color: darkgray;
}

/*
.noComment {
    pointer-events: none;
}
*/

/* -------------------------------------------- */

@media all and (max-width: 499px) {
    
    .expandText {
        display: none;
    }

    .responseButton {
        border-radius: 0px;
    	margin: .45em;    
    }
    
}

@media all and (max-width: 399px) {
    
    .response {
        display: none;
    }

    
}