.andrew-robb-158, .anthony-albanese-158, .arthur-sinodinos-158, .bill-shorten-158, .brendan-o-connor-158, .catherine-king-158, .chris-bowen-158, .christian-porter-158, .christopher-pyne-158, .darren-chester-158, .fiona-nash-158, .gary-gray-158, .george-brandis-158, .greg-hunt-158, .jason-clare-158, .jenny-macklin-158, .joel-fitzgibbon-158, .josh-frydenberg-158, .julie-bishop-158, .kate-ellis-158, .katy-gallagher-158, .kelly-o-dwyer-158, .kim-carr-158, .malcolm-turnbull-158, .marise-payne-158, .mark-butler-158, .mark-dreyfus-158, .mathias-cormann-158, .michaelia-cash-158, .michelle-rowland-158, .mitch-fifield-158, .nigel-scullion-158, .penny-wong-158, .peter-dutton-158, .richard-marles-158, .scott-morrison-158, .simon-birmingham-158, .stephen-conroy-158, .steven-ciobo-158, .sussan-ley-158, .tanya-plibersek-158, .tony-burke-158, .shayne-neumann-158, .barnaby-joyce-158{
	background: url(../images/profile-imgs-158.png) no-repeat;
}

.andrew-robb-158{
	background-position: 0 0;
	width: 158px;
	height: 197px;
}

.anthony-albanese-158{
	background-position: -158px 0;
	width: 158px;
	height: 197px;
}

.arthur-sinodinos-158{
	background-position: -316px 0;
	width: 158px;
	height: 197px;
}

.bill-shorten-158{
	background-position: -474px 0;
	width: 158px;
	height: 197px;
}

.brendan-o-connor-158{
	background-position: -632px -1px ;
	width: 158px;
	height: 197px;
}

.catherine-king-158{
	background-position: -790px 0;
	width: 158px;
	height: 197px;
}

.chris-bowen-158{
	background-position: 0 -196px ;
	width: 158px;
	height: 197px;
}

.christian-porter-158{
	background-position: -158px -196px ;
	width: 158px;
	height: 197px;
}

.christopher-pyne-158{
	background-position: -316px -196px ;
	width: 158px;
	height: 197px;
}

.darren-chester-158{
	background-position: -474px -196px ;
	width: 158px;
	height: 197px;
}

.fiona-nash-158{
	background-position: -632px -197px ;
	width: 158px;
	height: 197px;
}

.gary-gray-158{
	background-position: -790px -197px ;
	width: 158px;
	height: 197px;
}

.george-brandis-158{
	background-position: 0 -393px ;
	width: 158px;
	height: 197px;
}

.greg-hunt-158{
	background-position: -158px -393px ;
	width: 158px;
	height: 197px;
}

.jason-clare-158{
	background-position: -316px -393px ;
	width: 158px;
	height: 197px;
}

.jenny-macklin-158{
	background-position: -474px -393px ;
	width: 158px;
	height: 197px;
}

.joel-fitzgibbon-158{
	background-position: -631px -393px ;
	width: 158px;
	height: 197px;
}

.josh-frydenberg-158{
	background-position: -789px -394px ;
	width: 158px;
	height: 197px;
}

.julie-bishop-158{
	background-position: 0 -590px ;
	width: 158px;
	height: 197px;
}

.kate-ellis-158{
	background-position: -158px -590px ;
	width: 158px;
	height: 197px;
}

.katy-gallagher-158{
	background-position: -316px -590px ;
	width: 158px;
	height: 197px;
}

.kelly-o-dwyer-158{
	background-position: -474px -590px ;
	width: 158px;
	height: 197px;
}

.kim-carr-158{
	background-position: -632px -590px ;
	width: 158px;
	height: 197px;
}

.malcolm-turnbull-158{
	background-position: -789px -590px ;
	width: 158px;
	height: 197px;
}

.marise-payne-158{
	background-position: 0 -787px ;
	width: 158px;
	height: 197px;
}

.mark-butler-158{
	background-position: -158px -787px ;
	width: 158px;
	height: 197px;
}

.mark-dreyfus-158{
	background-position: -316px -787px ;
	width: 158px;
	height: 197px;
}

.mathias-cormann-158{
	background-position: -474px -787px ;
	width: 158px;
	height: 197px;
}

.michaelia-cash-158{
	background-position: -632px -787px ;
	width: 157px;
	height: 197px;
}

.michelle-rowland-158{
	background-position: -789px -787px ;
	width: 158px;
	height: 197px;
}

.mitch-fifield-158{
	background-position: 0 -984px ;
	width: 158px;
	height: 197px;
}

.nigel-scullion-158{
	background-position: -158px -984px ;
	width: 158px;
	height: 197px;
}

.penny-wong-158{
	background-position: -316px -984px ;
	width: 158px;
	height: 197px;
}

.peter-dutton-158{
	background-position: -474px -984px ;
	width: 158px;
	height: 197px;
}

.richard-marles-158{
	background-position: -632px -984px ;
	width: 158px;
	height: 197px;
}

.scott-morrison-158{
	background-position: -790px -985px ;
	width: 158px;
	height: 197px;
}

.simon-birmingham-158{
	background-position: -158px -1181px ;
	width: 158px;
	height: 197px;
}

.stephen-conroy-158{
	background-position: -316px -1181px ;
	width: 158px;
	height: 197px;
}

.steven-ciobo-158{
	background-position: -474px -1181px ;
	width: 158px;
	height: 197px;
}

.sussan-ley-158{
	background-position: -632px -1181px ;
	width: 158px;
	height: 197px;
}

.tanya-plibersek-158{
	background-position: -790px -1181px ;
	width: 158px;
	height: 197px;
}

.tony-burke-158{
	background-position: 0 -1378px ;
	width: 158px;
	height: 197px;
}

.shayne-neumann-158{
	background-position: 0 -1181px ;
	width: 158px;
	height: 197px;
}

.barnaby-joyce-158{
	background-position: -158px -1378px ;
	width: 158px;
	height: 197px;
}
